<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG">
	
	<properties>
		<property name="log-path">${env:LOG4J_HOME}/logs/</property>
	</properties>
	
	<appenders>
		<!-- Appenders configuration to log on console -->
		<console name="ConsoleLog" targate="SYSTEM_OUT">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
			</PatternLayout>
		</console>
		
		<!-- Appenders configuration to log in file -->
		<RollingFile name="RollingFile" fileName="${log-path}/azureChat.log"
			filePattern="${log-path}/azureChat-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
			</PatternLayout>
			<policies>
				<SizeBasedTriggeringPolicy size="5 MB" />
				<DefaultRolloverStrategy max="10" />
			</policies>
		</RollingFile>
	</appenders>
	
	<Loggers>
		<logger name="root" level="debug" additivity="false">
			<appender-ref ref="RollingFile" level="debug" />
		</logger>
		<root level="debug" additivity="false">
			<appender-ref ref="RollingFile" />
			<appender-ref ref="ConsoleLog" />
		</root>
	</Loggers>
	
</configuration>
